.thumbnail {
    object-fit: cover;
    height: 300px;
}

.shadow-img {
    box-shadow: 2px 2px 10px #080808;
}

.shadow-txt {
    text-shadow: 2px 2px 8px #080808;
}

.shadow-nohover {
    text-shadow: 2px 2px 4px #080808;
}

.shadow-nohover:hover {
    text-shadow: 0 0 0;
}

.btn-text {
    color: #f8f9fa;
    border-color: #f8f9fa;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-style: solid;
    border-radius: 0.3rem;
}

.border-thick {
    border-width: 2px !important;
}

.font-header {
    font-size: 3em;
}

.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font-tag {
    font-size: 1.2em;
}

.font-5 {
    font-size: 5em;
}

.font-2 {
    font-size: 2em;
}

.font-btn-text {
    font-size: 1.7em;
}

.bg-img {
    background-size: cover; 
    background-position: center center;
}

#navbar {
    font-family: Georgia, 'Times New Roman', Times, serif;
}