<nav class="navbar navbar-expand-lg shadow navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mr-5" href="./index.html">Eric's Portfolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="nav-projects">
          <a class="nav-link" href="./projects.html">Projects</a>
        </li>
        <li class="nav-item" id="nav-git">
            <a class="nav-link" href="https://gitlab.com/users/ErMy/projects" target="_blank">My Git</a>
          </li>
      </ul>
    </div>
  </div>
  </nav>